@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
    margin: 0;
    padding: 0;
}

menu {
background-color: #003791;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 90px;
}

menu a{
    color: white;
    text-decoration: none;
}

menu a:hover{
    color: #a0c5ff;
}

#Opções {
    display: flex;
}

#Opções nav {
    padding-right: 20px;
}

menu img {
    height: 60px;
    padding: 10px;
}

#Play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    font-family: 'Exo 2';
    padding: 15px;
}


#Play h2{
    text-align: center;
}


.font1Exo2{
    font-family: 'Exo 2';
}


#Play div{
    width: 350px;
}



#Play div img{
    height: 200px;
   text-align: center;
}